<table>
    <tr>
        <th>
            Имя ученика
        </th>
        <th>
            Группа
        </th>
        <th>
            Выполненные задания
        </th>
        <th>
            Добавить задание
        </th>
    </tr>
    
        @for (item of table_data(); track item.id) {
        <tr>
            <td>
                {{item.fio}}
            </td>
            <td>
                {{item.groupName}}
            </td>
            <td>
                @for (task of item.tasksHistory; track $index){
                    <span>{{task.task_name}}</span>
                }
            </td>
            <td>
                <button>+</button>
            </td>
        </tr>
        }
    
</table>